= simple_nested_form_for @recipe, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name, label: false, input_html: {class: 'form-control'}
  = error_span(@recipe[:name])

  %h2 Ingredients

  = f.fields_for :ingredients, :wrapper => false do |i_form|
    .row.form-group
      .col-md-11
        = i_form.input :value, label: false, input_html: {class: 'form-control'}
      .col-md-1
        = i_form.link_to_remove "Remove"
  = f.link_to_add "Add", :ingredients, data: { target: "#ingredients" }

  %h2 Directions
  
  = f.input :directions, label: false, :input_html => { class: 'form-control', rows: 20}
  = error_span(@recipe[:directions])

  %h2 References

  = f.fields_for :references do |r_form|
    = r_form.input :url, input_html: { placeholder: "Enter URL" }, label: false
    = r_form.link_to_remove "Remove"
  = f.link_to_add "Add", :references

  %br
    
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), recipes_path, :class => 'btn btn-default'
