= simple_form_for @recipe, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = error_span(@recipe[:name])
  = f.input :directions
  = error_span(@recipe[:directions])
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), recipes_path, :class => 'btn btn-default'
