= simple_nested_form_for @recipe, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name, label: false, input_html: {class: 'form-control'}
  = error_span(@recipe[:name])

  %h2 Ingredients
  #ingredients
    = f.fields_for :ingredients, :wrapper => false do |i_form|
      .row.form-group
        .col-md-11
          = i_form.input :value, label: false, input_html: {class: 'form-control'}
        .col-md-1
          = i_form.link_to_remove "Remove"
    = f.link_to_add "Add", :ingredients

  %h2 Directions
  #steps
    = f.fields_for :steps do |d_form|
      .row.form-group
        .col-md-12
          = d_form.input :picture, label: false
          = d_form.hidden_field :picture_cache 
      .row.form-group
        .col-md-12
          - if d_form.object.picture?
            = d_form.input :remove_picture, :as => :boolean, inline_label: "Remove #{d_form.object.picture_file_name}", label: false, :input_html => { :checked => "unchecked" }
      .row.form-group
        .col-md-11
          = d_form.input :idx, label: false, as: :hidden
          = d_form.input :description, label: false, input_html: {class: 'form-control'}
        .col-md-1
          = d_form.link_to_remove "Remove"
    = f.link_to_add "Add", :steps

  %h2 References
  #references
    = f.fields_for :references do |r_form|
      .row.form-group
        .col-md-11
          = r_form.input :url, input_html: { placeholder: "Enter URL" }, label: false, input_html: {class: 'form-control'}
        .col-md-1
          = r_form.link_to_remove "Remove"
    = f.link_to_add "Add", :references

  %br
    
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), recipes_path, :class => 'btn btn-default'
