- model_class = Recipe
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table
  %thead
    %tr
      %th
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:created_at)
      %th
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td
          - if recipe.picture?
            = link_to image_tag(recipe.picture_url :thumb), recipe_path(recipe)
        %td= link_to recipe.name, recipe_path(recipe)
        %td= local_time(l recipe.created_at, format: :long)
        %td
          .btn-group
            .btn.btn-sm
              = render partial: 'layouts/edit_btn', locals: { path: edit_recipe_path(recipe) }
            .btn.btn-sm
              = render partial: 'layouts/delete_btn', locals: { path: recipe_path(recipe) }

= link_to image_tag('new-icon.png', alt: t('.new', :default => t("helpers.links.new"))), pre_new_recipe_path, title: 'Add a New Recipe', data: { toggle: 'tooltip' }
