- model_class = Recipe
.page-header
  %h1=t '.title', :default => title || model_class.model_name.human.titleize

%p
  %strong= 'Ingredients:'
  %br
  - @recipe.ingredients.each do |ingredient|
    = ingredient.amount
    = ingredient.name
    - if ingredient.has_notes?
      (#{ingredient.notes})
    %br
%p
  %strong= model_class.human_attribute_name(:directions) + ':'
  %br
  - @recipe.steps.each do |step|
    %p
      = step

= link_to t('.back', :default => t("helpers.links.back")), recipes_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_recipe_path(@recipe), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), recipe_path(@recipe), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
