- if @items.empty?
  .alert.alert-info
    Your shopping list is empty...
- else
  .list-group
    - @items.each do |item|
      .row
        .col-md-10.col-xs-9
          - cl = "list-group-item"
          - cl = "#{cl} disabled" unless item.active
          = link_to toggle_active_shopping_item_path(item), remote: true, class: cl do
            = item.name
        .col-md-2.col-xs-3
          .btn-group
            .btn.btn-default
              = render partial: 'layouts/edit_btn', locals: { path: edit_shopping_item_path(item), remote: true }
            .btn.btn-default
              = link_to delete_shopping_item_path(item), :data => { toggle: 'tooltip' }, title: t('.destroy', :default => t("helpers.links.destroy")), remote: true do
                = glyph :trash
      
